@using CS.Data.Model



@{
    var model = (List<ListUserUsingRole>)Model;
}

<select id="lst-account-by-id" class="form-control">
    @if (model != null)
    {
        foreach (var item in model)
        {
            <option value="@(item.UserId)">@(item.UserName)</option>
        }
    }
</select>


<script>
    $(function () {
        LoadListMenuByIdUserLogin();
        $('#lst-account-by-id').change(function () {
            LoadListMenuByIdUserLogin();
        });
    });
    function LoadListMenuByIdUserLogin() {
        var idMember = $("#lst-account-by-id").find('option:selected').val();
        var data = {
            idMember: idMember
        }
        LoadPartialView("/Role/LoadListMenuByIdUserLogin", $("#menu-container"), data);
        
    }
</script>

