

@using WebApplication

@model IEnumerable<CS.Data.DataContext.Menu>

@{
    ViewBag.Title = "- Quản lý quyền";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="col-xs-12">
    <div class="btn-group">
        <button id="btn-add" class="btn btn-success " type="button"><i class="fa fa-pencil"></i>&nbsp;&nbsp;<span class="bold">Thêm mới</span></button>
    </div>
    <div class="col-sm-12" id="content-container">
        @Html.Action("ListRoleInSystem")
    </div>
</div>

<script>
    $(function() {
        BindButtonAddClick();
    });
    function BindButtonAddClick() {
        $("#btn-add").click(function() {
            $(this).colorbox({
                iframe: true,
                innerWidth: "50%",
                innerHeight: "50%",
                href: "/Role/AddNewRole"
            });
        });
    }
    function LoadListUser() {
        LoadPartialView('@Url.Action("ListRoleInSystem")', $("#content-container"));
    }
</script>
