

@{
    ViewBag.Title = "Cập nhật thông tin quyền trong hệ thống";
    Layout = "~/Views/Shared/Popup_Layout.cshtml";
}

<section class="content-header">
    <h1>
        @ViewBag.Title
    </h1>
</section>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box box-danger">
                <div class="box-header with-border">
                    <h2 class="box-title">Không thể chỉnh sửa thông tin của quyền này</h2>
                </div>
            </div>
        </div>
    </div>
</section>



