
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Client/Views/Shared/_Layout.cshtml";
}

<div class="content-middle product-landing-container container">
    @Html.Action("LoadAllCategoryAndProduct")
</div>

